.entire-group-screen-flex-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.group-screen-main-content-div {
    width: 100%;
    flex-grow: 1;
    display: overflow;
}